@import '~bulma/bulma.sass';

.resultsSection {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.coolEarth {
  display: inline-block;
  border: 1px solid black;
  width: 250px;
  height: 500px;
  padding: 30px;
  margin: 40px;
  text-align: center;
}

.hero-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.hero {
  display: flex;
}

.co2 {
  width: 200px;
  margin-bottom: 20px;
}

.label {
  color: rgb(255, 255, 255);
}

button {
  border: 2px solid green;
}

.bottomTwo {
  flex-direction: row;
}